<template name="actions">
  {{#if currentUser}}
  <h3>Actions</h3>
    <h4>Invite collaborators</h4>
    <input class="search-githublogin" type="text" name="githubLogin" value="" placeholder="search github username">
    <div>
      {{#each results}}
      <a class="search-result" data-github-id="{{this.githubId}}">{{this.githubLogin}}</a>
      {{/each}}
    </div>
    <button class="publish-gist btn btn-success">Publish Gist</button>
    <button class="delete-gist btn btn-danger">Delete Gist</button>
  {{/if}}
</template>
