<template name="actions">
  <h3>Actions</h3>
  <!-- if currentUser === owner -->
    <!-- show 'invite', 'save', 'publish' -->
    <form id="invite" method="post">
      <input class="searchUser" type="text" name="searchUsers" value="" placeholder="@username">
      <input type="submit" name="invite" value="Invite">
      <div>
        {{#each results}}
        <a class="searchResult">{{this}}</a>
        {{/each}}
      </div>
    </form>
    <button class="saveGist">Save</button>
    <button class="publishGist">Publish</button>
  <!-- if currentUser === collaborator -->
    <!-- show 'save' -->
</template>
