<template name="collaborators">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Username</th>
          {{#if currentUser}}
          <th style="width:20%;text-align:center;">Remove User</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each collaborators}}
        <tr>
          <td>{{this.githubLogin}}</td>
          {{#if currentUser}}
          <td>
            <a class="btn btn-danger remove-collaborator" href="#" role="button">Remove</a>
          </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</template>
