<template name="editor">
{{#if fileId}}
  <span class="files-subtitle">Currently editing</span>
  <h3 class="files-filename">
    <span class="file-name" contentEditable="{{editable}}">{{filename}}</span>
  </h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding">
        {{> sharejsCM docid=fileId onRender=config onConnect=setContent id="editor"}}
      </div>
      <div class="col-sm-6 nopadding">
        <div id="preview" class="reset"></div>
      </div>
    </div>
  </div>
{{else}}
  <p>Please create a new file</p>
{{/if}}
</template>

<!--
<template name="viewer">
  <div class="col-sm-6">
    <iframe id="viewer_iframe"></iframe>
  </div>
</template>

<template name="editingUsers">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Online Users</h3>
  </div>
  <div class="panel-body">
    {{#each users}}
      <span class="label label-primary">{{name}}</span>
      {{lastEdit}}
    {{/each}}
  </div>
</div>
</template>
-->
