<template name="editor">
{{#if fileId}}

  <div class="edit-gist-subtitle">
    {{#if currentUser}}
      <span class="files-subtitle">Currently editing</span>
    {{/if}}
    <h3 class="files-filename">
      {{#if currentUser}}
        <span class="file-name" contentEditable="{{owner}}" data-toggle="tooltip" data-placement="top" title="Rename this gist">{{filename}}</span>
      {{else}}
        <span class="file-name" contentEditable="{{owner}}">{{filename}}</span>
      {{/if}}
    </h3>

    <button type="button" class="btn btn-primary btn-lg settings-btn" data-toggle="modal" data-target="#myModal">
      View Settings
    </button>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding">
        {{> sharejsCM docid=fileId onRender=config onConnect=setContent id="editor"}}
      </div>
      <div class="col-sm-6 nopadding">
        <div id="preview" class="reset"></div>
      </div>
    </div>
  </div>
{{else}}
  <div class="alert alert-danger" role="alert">
    Please create a new file.
  </div>
{{/if}}
</template>

<!--
<template name="viewer">
  <div class="col-sm-6">
    <iframe id="viewer_iframe"></iframe>
  </div>
</template>

<template name="editingUsers">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Online Users</h3>
  </div>
  <div class="panel-body">
    {{#each users}}
      <span class="label label-primary">{{name}}</span>
      {{lastEdit}}
    {{/each}}
  </div>
</div>
</template>
-->
