<template name="home">
  <div class="jumbotron">
    <div class="container">
      <h2>Code together, and hangout!</h2>
      <p>A collaborative real-time code editor for Github Gists.</p>
      <p>Much instant, very wow, try it now!</p>
      {{#if currentUser}}
        &nbsp;
      {{else}}
        {{> loginButtons}}
      {{/if}}
    </div>
  </div>
  <p class="gist-subtitle">Recent Public Gists</p>
  <div class="recent-gists gist-container">
    <div class="container-fluid">
      <div class="row">
        <ul class="gist-list">
          {{#each recentGists}}
            <li class="col-sm-3"><a href="/gist/{{gistId}}">{{description}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>
