<template name="fileList">
  <ul class="file-list">
    {{#if files}}
      {{#each files}}
        {{> fileItem}}
      {{/each}}
    {{/if}}
    {{#if currentUser}}
    <li><a href="#" class="create-file">Create a new file</a></li>
    {{/if}}
  </ul>
  <!-- <section class="viewer">
    {{> viewer}}
  </section> -->
</template>

<template name="fileItem">
  <li>
    <a href="#" class="file">{{filename}}</a>
    {{#if currentUser}}
      <a class="delete-file"> &times;</a>
    {{/if}}
  </li>
</template>
