<template name="viewGist">
  <div class="wrapper">
    <ol class="breadcrumb">
      <li><a href="/profile">Dashboard</a></li>
      <li class="active">Edit Gist</li>
    </ol>

    {{#unless currentUser}}
      {{> callToLogin}}
    {{/unless}}

    <span class="sub">Currently editing</span>
    <h3>{{description}}</h3>
    <h2>Files:</h2>
    <section class="files">
      {{> fileList}}
    </section>
    <section class="text-editor">
      {{> editor}}
    </section>
    <section class="collaborators">
      {{> collaborators}}
    </section>
    <section class="actions">
      {{> actions}}
    </section>
  </div>
</template>
