<template name="viewGist">
  <div class="wrapper">
    <ol class="breadcrumb">
      <li><a href="/profile">Dashboard</a></li>
      <li class="active">Edit Gist</li>
    </ol>

    {{#unless currentUser}}
      {{> callToLogin}}
    {{/unless}}

    <h3 class="gist-description" contentEditable="{{editable}}" data-toggle="tooltip" data-placement="bottom" title="Rename this gist">{{description}}</h3>
    <section class="text-editor">
      {{> editor}}
    </section>
  </div>

{{> extraMenu}}
</template>

<template name="extraMenu">
  <div class="container">
    <h3>Files:</h3>
    <section class="files">
      {{> fileList}}
    </section>
    <section class="collaborators">
      {{> collaborators}}
    </section>
    <section class="actions">
      {{> actions}}
    </section>
  </div>
</template>
